.s_processing {
    width: 29px;
    height: 29px;
    background: #007bff;
    border-radius: 50%;
    margin: auto;
}
.s_failed {
    width: 29px;
    height: 29px;
    background: #dc3545;
    border-radius: 50%;
    margin: auto;
}
.s_completed {
    width: 29px;
    height: 29px;
    background: #28a745;
    border-radius: 50%;
    margin: auto;
}
.a_yellow{
    width: 29px;
    height: 29px;
    background: yellow;
    border-radius: 50%;
    margin: auto;
}
.a_red{
    width: 29px;
    height: 29px;
    background: red;
    border-radius: 50%;
    margin: auto;
}
a.main_button {
    color: #28a745;
    font-family: cursive;
    font-size: 29px;
    text-decoration: none;
    cursor: pointer;
}
.top_right_txt {
    text-align: right;
    color: red;
    font-family: cursive;
    font-size: 19px;
}
.navbar{
    /*padding-right:0px;*/
    /*padding-left: 0px;*/
}
.divider {
    border-bottom: 1px solid #eaeaea;
}
.settings_form{
    width: 100%;
}
.hidden{
    display:none;
}
a{
    text-decoration:none !important;
    cursor: pointer;
}
ul.navbar-nav{
    border-right: 1px solid #d0d0d0;
}
#main_filter{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 87%;
}
#main_filter .form-group label{
    white-space: nowrap;
    margin-right: 4px;
}
#main_filter .form-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1%;
    margin-bottom: 0%;
}
#main_filter label{
    margin-bottom: 0;
}