.s_processing {
    width: 29px;
    height: 29px;
    background: #007bff;
    border-radius: 50%;
    margin: auto;
}
.s_failed {
    width: 29px;
    height: 29px;
    background: #dc3545;
    border-radius: 50%;
    margin: auto;
}
.s_completed {
    width: 29px;
    height: 29px;
    background: #28a745;
    border-radius: 50%;
    margin: auto;
}